<div class= "Users"> 

<%= @users.each do |u| %>

<p> <%= u.username %> </p>
<p> <%= u.email %> </p>
<p> <%= u.age %> </p>

<% end %> 

<div class= "Cats"> 

<%= @cats.each do |u| %>

<p> <%= u.name %> </p>

<% end %> 

<div class= "Todos"> 

<%= @todos.each do |u| %>

<p> <%= u.task %> </p>
<p> <%= u.complete %> </p>

<% end %> 



</div> 


